@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --moderate-violet: hsl(263, 55%, 52%); 
    --very-dark-grayish-blue: hsl(217, 19%, 35%); 
    --very-dark-blackish-blue: hsl(219, 29%, 14%); 
    --white: hsl(0, 0%, 100%); 
    --light-grayish-blue: hsl(210, 46%, 95%); 
}

* {
    margin: 0; 
    top: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: var(--light-grayish-blue);
}

.container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(200px, auto);
    margin: 200px;
}

.container > *:nth-child(1) {
    grid-column: 1 / span 2; 
    grid-row: 1 / span 1; 
    position: relative;
    background-color: var(--moderate-violet);
}

#bg-quotation-mark {
    position: absolute;
    top: 0;
    right: 15%;
}

.container > *:nth-child(1) .main-info-person, 
.container > *:nth-child(1) .main-statement, 
.container > *:nth-child(1) .quotation {
    position: relative;
    z-index: 1;
} 

.container > *:nth-child(2) {
    grid-column: 3 / span 1; 
    grid-row: 1 / span 1; 
    background-color: var(--very-dark-grayish-blue);
}

.container > *:nth-child(3) {
    grid-column: 1 / span 1; 
    grid-row: 2 / span 1; 
    background-color: var(--white);
}

.container > *:nth-child(4) {
    grid-column: 2 / span 2; 
    grid-row: 2 / span 1; 
    background-color: var(--very-dark-blackish-blue);
}

.container > *:nth-child(5) {
    grid-column: 4 / span 1; 
    grid-row: 1 / span 2; 
    background-color: var(--white);
}

.container > *:nth-child(1),
.container > *:nth-child(2),
.container > *:nth-child(4) {
    color: var(--white);
}

.container > *:nth-child(3),
.container > *:nth-child(5) {
    color: var(--very-dark-blackish-blue);
}

.testimonial {
    padding: 30px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.testimonial .main-info-person {
    display: flex; 
}

.testimonial .main-info-person img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50%;
}

.testimonial .main-info-person .name {
    font-weight: bold;
}

.testimonial .main-info-person .verified-graduate {
    font-size: 0.7rem;
    opacity: 0.5;
}

.testimonial .main-statement {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6rem;
}

.testimonial .quotation {
    opacity: 0.7;
    line-height: 1.2rem;
}

/* responsive design for tablets */

@media(max-width: 1200px) {
    .container {
        display: flex; 
        flex-direction: column;
        margin: 100px;
    }
}

/* responsive design for smartphones */

@media(max-width: 400px) {
    .container {
        display: flex; 
        flex-direction: column;
        margin: 20px;
    }
}